<div class="flex gap-[20px]">
  <div class="flex flex-col gap-2">
    <span>Chose start minute</span>
    <select [disabled]="!!(isBreaking | async)" class="w-[150px] text-black rounded"
            [ngModel]="selectedStartMinute | async" (ngModelChange)="startMinuteSelectHandler($event)">
      <option *ngFor="let selectItem of startMinutesOptions" [value]="selectItem" [selected]="selectItem === (selectedStartMinute | async)">{{selectItem}}</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <span>Chose break time minute</span>
    <select [disabled]="!(isBreaking | async)" class="w-[150px] text-black rounded"
            [ngModel]="selectedBreakTime | async" (ngModelChange)="breakTimeSelectHandler($event)">
      <option *ngFor="let selectItem of breakTimeOptions" [value]="selectItem" [selected]="selectItem === (selectedBreakTime | async)">{{selectItem}}</option>
    </select>
  </div>
</div>
<div class="flex gap-2 items-center mt-[20px]">
  <button (click)="startTimer()" class="border-2 border-white rounded py-1 px-3">Start</button>
  <button (click)="stopTimer()" class="border-2 border-white rounded py-1 px-3">Stop</button>
  <button (click)="restartTimer()" class="border-2 border-white rounded py-1 px-3">Restart</button>
  <button (click)="onToggleBreaking()" class="border-2 border-white rounded py-1 px-3">{{
    (isBreaking | async) ? 'Cancel break' : 'Take break'
    }}</button>
</div>
